{% load static %}

<html>

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'  %}">

</head>

<h1> Webside under development </h1>

<hr>

<a href="{% url '' %}"> Homepage... </a>

&nbsp;

<a href="{% url 'create-task' %}"> Create a task... </a>

&nbsp;

<a href="{% url 'view-tasks' %}"> View tasks </a>

&nbsp;

<a href="{% url 'register' %}"> Register User</a>


&nbsp;

<a href="{% url 'my-login' %}"> Login User</a>

{% block content %}

{% endblock %}

<script src="{% static 'js/app.js'        %}"></script>

</html>